* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#profile-box {
  flex: 0 1 400px;
  background-color: purple;
  color: #f7f7f7;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  transition: ease-in 0.3s;
}
#profile-box:hover {
  box-shadow: 0px 0px 40px rgba(128, 0, 128, 0.8);
}
#profile-box img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  line-height: 60px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
}
p {
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact a {
  color: #f7f7f7;
}
.contact i {
  font-size: 16px;
  margin-right: 10px;
}
.contact p {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
}
